# All csv files
*.csv
# All json files
*.json
# All log files
*.log
# All .zip files
*.zip

# Folder
# All files in the folder
Kaggle_9/venus-vs-mars/

# python files
.DS_Store
__pycache__/
*.py[cod]


